body {
    padding-top: 56px;
  }


.btnSubir{
    width: 10%;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}