*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width: 100%;
    height: 600px;
    background: #833ab4; 
    background: -webkit-linear-gradient(to right, hsla(35, 97%, 63%, 0.699), hsla(0, 98%, 55%, 0.699), hsla(276, 51%, 47%, 0.699)), url(../imgs/marvel.jpg); 
    background: linear-gradient(to right, hsla(35, 97%, 63%, 0.699), hsla(0, 98%, 55%, 0.699), hsla(276, 51%, 47%, 0.699)), url(../imgs/sw.gif); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: center;
    padding: 30px 50px 0 0;
}

nav> a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
}

nav > a:hover{
    text-decoration: underline;
}

.logoPrincipal{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.marketing h2 {
    font-weight: 400;
}

.h2, h2 {
    font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.circular--square{
    border-radius: 50%;
}
